<% @charts.reverse.each do |chart| %>
<div style="border: 1px solid #ffffff">
	<h4><a href="/checkup/show/<%= chart.id %>"><%= chart.name %></a></h4>
	<p style="color: #ff0000"><%= chart.category %></p>
</div>
<% end %>

