<h4><a href="/">KMD CHART</a> || <a href="/pain">통증차트</a> | <a href="/internal">내과차트</a> | <a href="/checkup/write1">새 차트 작성하기</a> ||
<% if session[:user_id].nil? %>
<a href="/users/signup">회원가입</a> | <a href="/users/login">로그인</a>
<% else %>
<a href="/users/logout_complete">로그아웃</a>
<% end %>
</h4>
